@import "./styles/base.css";
@import "./styles/SecondaryStyles.css";

/* App.css */

/* Classe para o fundo da seção principal (como bg-cover e bg-center do Tailwind) */
.bgApp {
  background-image: url("./assets/bgApp.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 100vh; /* Altura de tela cheia */
  position: relative;
}

.navbar {
  width: 100%;
  padding: 1.5rem 7rem 1rem 12rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar ul {
  display: flex;
  list-style-type: none; /* Para remover marcadores de lista */
}

.navbar li {
  margin-right: 1rem; /* Espaçamento entre os itens do menu */
}

.right-items {
  margin-left: auto; /* Isso vai empurrar a div para o final da navbar */
  background-color: blue;
}
